@page "/report"
@inject IJSRuntime JS

<PageTitle>StarBlazor - Report</PageTitle>

<div class="container-fluid">
    <div class="row cell-parent">
        <div class="col-1 cell-slim">
            <h2 class="report-item">Student</h2>
        </div>
        <div class="col-5 cell">
            <p class="report-value">@report.name</p>
        </div>
        <div class="col-1 cell-slim">
            <h2 class="report-item">Course</h2>
        </div>
        <div class="col-5 cell">
            <p class="report-value">@report.course</p>
        </div>
    </div>

    <div class="row cell-parent">
        <div class="col-1 cell flex-12">
            <h2 class="report-item">Review 1</h2>
        </div>
        <div class="col-1 cell flex-01">
            <p class="report-value">@report.status1Check</p>
        </div>
        <div class="col-2 cell">
            <p class="report-value">@report.date1</p>
        </div>

        <div class="col-1 cell flex-12">
            <h2 class="report-item">Review 2</h2>
        </div>
        <div class="col-1 cell flex-01">
            <p class="report-value">@report.status2Check</p>
        </div>
        <div class="col-2 cell">
            <p class="report-value">@report.date2</p>
        </div>

        <div class="col-1 cell">
            <h2 class="report-item">Result</h2>
        </div>
        <div class="col-1 cell">
            <p class="report-value">@report.result</p>
        </div>
        <div class="col-2 cell">
            <p class="report-value">~</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <!-- screenshot of graph -->
        </div>

        <div class="col-12 col-lg-6">
            <div class="row">
                <div class="col-12">
                    <h3 class="item-head">Your badges showing the strength of your work:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4"></div>
                <div class="col-4"></div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4"></div>
                <div class="col-4"></div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4"></div>
                <div class="col-4"></div>
            </div>
        </div>
    </div>
</div>